.DS_Store
desktop.ini

# Jetbrains
.idea
.vscode

# Output of 'npm pack'
*.tgz

# Optional eslint cache
.eslintcache

# yarn
#package-lock.json
yarn.lock

# Optional npm cache directory
.npm

# Dependency directories
node_modules

#Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build output
dist

# generated types
.astro/

# environment variables
.env
.env.production
