.DS_Store
desktop.ini

# Jetbrains
.idea
.vscode

# Output of 'npm pack'
*.tgz

# Optional eslint cache
.eslintcache

# npm
package-lock.json

# Optional npm cache directory
.npm

# Dependency directories
node_modules

#Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Website
website/build
website/i18n
website/translated_docs
