version: 2.1

docker_defaults: &docker_defaults
  docker:
    - image: circleci/node:8.14.0

commands:
  prep_env:
    description: Prepares environment with cache
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
          name: Restore node_modules cache
          key: all-contributors-{{ checksum "yarn.lock" }}-{{ .Branch }}
  save_env_cache:
    description: Saves environment cache
    steps:
      - save_cache:
          name: Save node_modules cache
          key: all-contributors-{{ checksum "yarn.lock" }}-{{ .Branch }}
          paths:
            - node_modules/

jobs:
  node_modules:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      # - prep_env
      - checkout:
          path: ~/repo
      - run: cat package.json | jq 'del(.scripts.postinstall)' > package.json.tmp && mv package.json.tmp package.json
      - run: yarn install --frozen-lockfile
      - save_env_cache
  build:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - run:
          name: Build website
          command: yarn build
  deploy_website:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - add_ssh_keys:
          fingerprints:
            - "52:5e:b6:b5:d7:2c:c9:11:28:8c:23:c9:b0:a7:dc:66"
      - run:
          name: Install crowdin
          command: |
              sudo apt-get install default-jre
              wget https://artifacts.crowdin.com/repo/deb/crowdin.deb -O crowdin.deb
              sudo dpkg -i crowdin.deb
      - run:
          name: Setup git user and deploy website
          command: |
            git config --global user.email "circleci-all-contributors-website@users.noreply.github.com"
            git config --global user.name "CircleCI All Contributors Website"
            yarn write-translations
            yarn crowdin-upload
            yarn crowdin-download
            CUSTOM_COMMIT_MESSAGE="[skip ci]" USE_SSH=true yarn publish-gh-pages
      - run:
          name: Semantic release to NPM and GitHub releases
          command: yarn run semantic-release

  check_404s:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - run:
          name: Wait to hit CDN edges
          command: sleep 60
      - run:
          name: Check 404s production
          command: yarn blc https://all-contributors.js.org -ro

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - node_modules
      - build:
          requires:
            - node_modules
      - deploy_website:
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - check_404s:
          requires:
            - deploy_website

experimental:
  notify:
    branches:
      only:
        - master
