version: 2.1

docker_defaults: &docker_defaults
  docker:
    - image: circleci/node:8.14.0

commands:
  prep_env:
    description: "Prepares environment with cache"
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
          name: Restore node_modules cache
          key: website-{{ checksum "yarn.lock" }}-{{ .Branch }}
  save_env_cache:
    description: "Saves environment cache"
    steps:
      - save_cache:
          name: Save node_modules cache
          key: website-{{ checksum "yarn.lock" }}-{{ .Branch }}
          paths:
            - node_modules/

jobs:
  node_modules:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - run: yarn install --frozen-lockfile
      - save_env_cache
  deploy_website:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - attach_workspace:
          at: ./
      - add_ssh_keys:
          fingerprints:
            - "17:59:4f:3f:42:ec:3c:e0:9f:55:88:c7:4d:b8:30:70"
      - run:
          name: Install crowdin
          command: |
              - sudo apt-get install default-jre
              - wget https://artifacts.crowdin.com/repo/deb/crowdin.deb -O crowdin.deb
              - sudo dpkg -i crowdin.deb
      - run:
          name: Setup git user and deploy website
          command: |
            git config --global user.email "circleci-all-contributors-website@users.noreply.github.com"
            git config --global user.name "CircleCI All Contributors Website"
            - yarn write-translation
            - yarn crowdin-upload
            - yarn crowdin-download
            CUSTOM_COMMIT_MESSAGE="[skip ci]" USE_SSH=true yarn publish-gh-pages

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - node_modules
      - deploy_website:
          requires:
            - node_modules
          filters:
            branches:
              only:
                - master

experimental:
  notify:
    branches:
      only:
        - master
