/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

article p img, article iframe {
    display: inline-block;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer-github {
    display: flex;
    flex-direction: column;
}

.footer-icon {
    margin-right: 10px;
}

.fixedHeaderContainer {
    background: #fff;
    color: black;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.fixedHeaderContainer a,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a
{
    color: #f9316d !important;
    background: #fff !important;
}

.navigationSlider .slidingNav ul li a  {
    color: black !important;
    background: #fff !important;
}

.navigationSlider .slidingNav ul li a:hover {
    background: #fff !important;
    color: #f9316d !important;
}
