.mainContainer .wrapper .post .postHeaderTitle {
  margin-top: 12px;
}

article p img, article iframe {
    display: inline-block;
}

.docs-footer {
    text-align: center;
    padding: 10px 0 5px;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.1);
}

.docs-footer__wrapper {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}

.fixedHeaderContainer header {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    text-align: left;
}

.docs-footer__logo {
    height: 40px;
}

.fixedHeaderContainer {
    background: #fff;
    color: black;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a
{
    color: #0e0c33;
    background: #fff !important;
}

.navigationSlider .slidingNav ul li > a  {
    color: #717171;
    background: #fff !important;
}

.navigationSlider .slidingNav ul li > a:hover {
    color: #0e0c33;
    background: #fff !important;
}

/* Language dropdown */
#languages-dropdown {
    padding: 0 10px 10px 10px;
    margin-left: -20px;
    overflow: hidden;
    width: auto;
    left: auto;
    top: 42px;
}
#languages-dropdown #languages-dropdown-items {
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    flex-direction: column;
}
#languages-dropdown #languages-dropdown-items a {
    color: #717171;
    transition: color 0.3s;
}

#languages-dropdown #languages-dropdown-items a:hover {
    color: #0e0c33;
}

/* Search icon */
.navSearchWrapper.reactNavSearchWrapper::before {
    border: 2px solid #0e0c33;;
}
.navSearchWrapper.reactNavSearchWrapper::after {
    background: #0e0c33;
    border-radius: 2px;
    left: 33px;
    height: 6px;
    width: 2px;
}

/* Search bar */
.reactNavSearchWrapper input#search_input_react {
    color: black;
    background: #f3f3f3;
}
.reactNavSearchWrapper input#search_input_react:focus {
    color: black;
}
.reactNavSearchWrapper input#search_input_react::placeholder {
    color: #717171;
}

/* Duplicated from above */
@media only screen and (max-width: 1024px) {
    .reactNavSearchWrapper input#search_input_react {
        color: black;
        background: white;
    }
    .reactNavSearchWrapper input#search_input_react:focus {
        color: black;
        background: white;
    }
    .reactNavSearchWrapper input#search_input_react::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }
}
@media only screen and (max-width: 1023px) {
    #languages-dropdown {
        margin: 0;
        padding: 0;
        width: 100%;
        box-shadow: 0 1px 4px rgba(0,0,0,0.1);
        left: 0;
        top: 50px;
    }
    #languages-dropdown #languages-dropdown-items {
        border-top: 1px solid #eee;
        flex-wrap: wrap;
        box-shadow: none;
        flex-direction: row;
        display: flex;
    }
    #languages-dropdown #languages-dropdown-items li {
        flex: 20%;
        width: 20%;
    }
}

@media only screen and (max-width: 640px) {
    #languages-dropdown #languages-dropdown-items li {
        flex: 50%;
        width: 50%;
    }
}
