/*--Clear & Set fonts--*/
.homepage * {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.homepage body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.homepage p {
  line-height: 1.5;
}

/* CSS Variables */
:root {
  --ppl-100: #0f0b33;
  --ppl-60: #2d2298;
  --ppl-10: #f2f2fb;
  --primary-text: #0f0b33;
  --secondary-text: #312f45;
  --tertiary-text: #615e7c;
  --colored-text: #2d2298;
  --brand-color: #2d2298;
  --link-color: #6e60e6;
}
/*--Grid--*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 20px;
}
.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666667%;
}
.col-12 {
  width: 100%;
}
@media only screen and (max-width: 650px) {
  .mobile-col-1,
  .mobile-col-2,
  .mobile-col-3,
  .mobile-col-4,
  .mobile-col-5,
  .mobile-col-6,
  .mobile-col-7,
  .mobile-col-8,
  .mobile-col-9,
  .mobile-col-10,
  .mobile-col-11,
  .mobile-col-12 {
    padding: 0 20px;
  }
  .mobile-col-1 {
    width: 8.333333%;
  }
  .mobile-col-2 {
    width: 16.666667%;
  }
  .mobile-col-3 {
    width: 25%;
  }
  .mobile-col-4 {
    width: 33.333333%;
  }
  .mobile-col-5 {
    width: 41.666667%;
  }
  .mobile-col-6 {
    width: 50%;
  }
  .mobile-col-7 {
    width: 58.333333%;
  }
  .mobile-col-8 {
    width: 66.666667%;
  }
  .mobile-col-9 {
    width: 75%;
  }
  .mobile-col-10 {
    width: 83.333333%;
  }
  .mobile-col-11 {
    width: 91.666667%;
  }
  .mobile-col-12 {
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text);
  margin-bottom: 8px;
}

h1 {
  font-size: 52px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}

p {
  color: var(--secondary-text);
}

/*--Layouts--*/
.homepage .container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}

.centred-content {
  text-align: center;
}

/*--Buttons */
.cta-button {
  text-decoration: none;
  padding: 28px 48px;
  background: #2d2298;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 12px 24px 0 rgba(110, 96, 230, 0.2),
    0 4px 8px 0 rgba(45, 34, 152, 0.09);
  transition: 0.35s;
  display: inline-block;
  text-align: center;
}

.cta-button:hover {
  transition: 0.35s;
  background: #1e1576;
  color: #fff;
  box-shadow: 0 18px 28px 0 rgba(110, 96, 230, 0.2),
    0 8px 12px 0 rgba(45, 34, 152, 0.09);
}

.cta-secondary {
  background: #fff;
  color: var(--colored-text);
  border: 2px solid rgba(0, 0, 0, 0);
  padding-top: 26px;
  padding-bottom: 26px;
}

.cta-secondary:hover {
  background: #fff;
  border: 2px solid #d1cfe6;
  color: var(--colored-text);
}

/*--Aloha--*/
.ribbon {
  font-size: 16px;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 300px;
  position: absolute;
  left: 0;
  top: 80px;
  background: #ea7068;
  color: #fff;
  text-align: center;
  padding: 16px; /* Adjust to suit */
  height: 52px;
  font-weight: bold;
}

.ribbon a {
  color: white;
}

.ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  border: 26px solid #ea7068;
  z-index: -1;
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

@media only screen and (max-width: 650px) {
  .ribbon {
    top: 110px;
    z-index: 100;
  }
}

/*---Header Nav--*/

.homepage .logo {
  height: 40px;
  margin: 20px;
  width: calc(100% - 40px);
}

.homepage header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homepage .header nav {
  padding: 30px 20px 20px 20px;
}

.homepage .header nav a {
  text-decoration: none;
  color: var(--secondary-text);
}
.homepage .header nav a:hover {
  color: #6e60e6;
  border-bottom: 4px solid #6e60e6;
  transition: 0.2s;
}

.homepage .header nav ul {
  display: flex;
  align-items: center;
}

.homepage .header nav ul li {
  display: inline;
  list-style: none;
  margin-left: 20px;
  margin-top: 0;
}

li.github-star {
  padding-top: 5px;
}

/*--Hero --*/
.wave {
  content: '';
  background: url(../img/bg-swoop.svg) no-repeat;
  background-size: 2045px 380px;
  bottom: -40px;
  background-position: center;
  left: 0;
  height: 380px;
  width: 100%;
  position: relative;
  z-index: -100;
  margin-bottom: 0;
}

.homepage .hero {
  position: relative;
  display: flex;
  padding-top: 50px;
  margin-bottom: -250px;
  align-items: center;
}
.homepage .hero img {
  width: 100%;
}
.homepage .hero h1 {
  font-size: 52px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.homepage .hero p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/*--Benefits--*/
.benefits {
  background: var(--ppl-10);
  padding-bottom: 40px;
  padding-top: 40px;
}
.benefits h2 {
  margin-bottom: 12px;
}
.benefits p {
  margin-bottom: 32px;
  font-size: 20px;
  color: #2d2298;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 32px;
}
.benefits img {
  max-width: 100%;
}

/*--How To--*/

.homepage .how-to {
  display: flex;
  padding-top: 60px;
}

.how-to h2 {
  margin-bottom: 32px;
}

.how-to h3 {
  font-size: 20px;
  line-height: 1.25;
}
.how-to p {
  line-height: 1.25;
}
.how-to ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.how-to li {
  margin-bottom: 40px;
}

.how-to p {
  font-size: 14px;
}
.how-to img {
  width: 100%;
}

/*-- Quick Link Tiles --*/
.homepage .quick-links {
  padding-top: 60px;
  padding-bottom: 60px;
}

.tile-group {
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tile {
  width: calc(50% - 20px);
  margin: 10px;
}

.tile a {
  border: 2px solid #e7e6f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  transition: 0.35s;
}
.tile a:hover {
  transition: 0.35s;
  border: 2px solid #6e60e6;
  background: var(--ppl-10);
}

.tile img {
  margin: 20px;
}
.tile-icon {
  background: #f2f2fb;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px;
  flex: 0 0 80px;
}

.tile:hover .tile-icon {
  background: #fff;
}

.tile h5 {
  margin: 0;
}
/*--Users--*/
.homepage .users {
  padding-top: 20px;
  padding-bottom: 60px;
}

.homepage .users p {
  margin-bottom: 32px;
}

.homepage .user-logos {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 auto;
}

.user-logos img {
  width: 100%;
}

/*--final cta--*/
.final-cta {
  padding-top: 40px;
  padding-bottom: 60px;
  background: var(--ppl-10);
}

.final-cta h4 {
  margin-bottom: 20px;
  color: var(--colored-text);
}

.final-cta .cta-button {
  margin: 10px;
}

/*--Footer--*/
.homepage__footer {
  background: var(--ppl-60);
  color: #fff;
  padding: 20px;
}

/* Existing custom css */
@media only screen and (max-width: 1023px) {
  .homepage .hero h1 {
    font-size: 40px;
  }
  .homepage h2,
  .benefits h2 {
    font-size: 32px;
  }
  .homepage h3 {
    font-size: 24px;
  }
  .homepage h4 {
    font-size: 20px !important;
  }
  .homepage h5 {
    font-size: 18px;
  }

  .hero p {
    font-size: 24px;
  }
  .benefits p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 650px) {
  .hide-mobile {
    display: none;
  }

  .cta-button {
    font-size: 16px;
    padding: 16px 24px;
  }

  .homepage .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .homepage .header nav {
    padding: 0;
    text-align: center;
  }
  .homepage .header a {
    text-align: center;
  }
  .homepage .header nav li,
  .homepage .header nav ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .homepage .header nav ul {
    justify-content: center;
  }
  .homepage .header,
  .homepage .hero,
  .how-to {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .homepage .hero div:nth-child(2) {
    order: -1;
  }

  .homepage .hero h1 {
    font-size: 32px;
    padding-top: 20px;
  }

  .homepage .hero p {
    font-size: 16px;
  }

  .homepage .hero {
    margin-bottom: -500px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .benefits {
    margin-top: -5px;
    padding-top: 140px;
  }
  .benefits h2 {
    font-size: 28px;
  }

  .tile-group {
    flex-direction: column;
    padding: 0;
    margin-top: -10px;
  }
  .tile {
    width: calc(100% - 20px);
  }

  .homepage .how-to {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
  .how-to h2 {
    margin-bottom: 20px;
  }
  .how-to li h3 {
    font-size: 16px;
  }

  .how-to li {
    margin-bottom: 20px;
  }

  .user-logos {
    flex-wrap: wrap;
  }
  .user-logos div {
    flex: 1 1 50%;
  }

  .final-cta h4 {
    margin-bottom: 12px;
  }
  .cta-button {
    width: 80%;
  }
}
