body {
  font-family: 'Poppins', sans-serif;
}


.add-contribs {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  background: #f2f2fb;
  padding: 2rem 0;
  text-align: center;

  p {
    font-size: 20px;
    color: #2d2298;
    max-width: 800px;
    line-height: 1.5;
    margin: 0 auto 32px;
  }
}