body {
  font-family: 'Poppins', sans-serif;
}


.add-contribs {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 0 0;
  text-align: center;
  margin-bottom: 0;


  p {
    font-size: 20px;
    color: #2d2298;
    max-width: 800px;
    line-height: 1.5;
    margin: 0 auto 32px;
  }
}

.add-contribs.purple {
  background: #f2f2fb;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8rem 0;
}